.about{
    padding: 80px 0;

    .container{

        .about-header{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;

            h1{
                font-size: 32px;
                font-weight: 500;
                font-family: "Rubik",sans-serif;
                margin-bottom: 10px;
            }
            p{
                text-align: center;
                line-height: 1.6;
                color: #9b9bae;
            }
        }

        .about-content{
            display: flex;
            align-items: center;
            gap: 10px;
            .cart{
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                line-height: 1.6;
                border-radius: 4px ;
                padding: 0 15px;

                .cart-img{
                    padding: 40px;
                    background: rgba(57,86,222,0.07);

                    img{
                        width: 100%;
                    }
                }

                h4{
                    font-size: 18px;

                }

                p{
                    font-size: 13px;
                    color: #9b9bae;
                    margin: 10px 0 10px 0;
                }

                a{
                    margin-top: 20px;
                    color: #3956de;
                    span{
                        font-size: 24px;
                        margin-left: 10px;
                    }
                }
            }

        }
    }
}